/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*fonts*/
/*colors*/
/*padding*/
html {
  font-family: "Montserrat", sans-serif;
  color: #4E5150;
  background-color: #FFFFFF;
}

body {
  position: relative;
}
body.hide {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 3.2vw;
  padding-right: 3.2vw;
}

.alert-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: 1500;
}
.alert-wrapper.close {
  display: none;
}
.alert-wrapper .alert-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1rem;
}
.alert-wrapper .alert-box.error .alert-message::after {
  content: "Oh no!";
}
.alert-wrapper .alert-box.error .alert-description::after {
  content: "Something went wrong";
}
.alert-wrapper .alert-box.error .alert-icon {
  background-color: #ce2610;
}
.alert-wrapper .alert-box.error .icon-error {
  display: block;
}
.alert-wrapper .alert-box.error .btn-alert {
  border: 2px solid #ce2610;
  color: #ce2610;
}
.alert-wrapper .alert-box.error .btn-alert::after {
  content: "Try again";
}
.alert-wrapper .alert-box.error .btn-alert:hover {
  background-color: #ce2610;
  color: #FFFFFF;
}
.alert-wrapper .alert-box.sucess .alert-message::after {
  content: "Woohoo!";
}
.alert-wrapper .alert-box.sucess .alert-description::after {
  content: "Everything went great";
}
.alert-wrapper .alert-box.sucess .alert-icon {
  background-color: #0ac238;
}
.alert-wrapper .alert-box.sucess .icon-sucess {
  display: block;
}
.alert-wrapper .alert-box.sucess .btn-alert {
  border: 2px solid #0ac238;
  color: #0ac238;
}
.alert-wrapper .alert-box.sucess .btn-alert::after {
  content: "Continue";
}
.alert-wrapper .alert-box.sucess .btn-alert:hover {
  background-color: #0ac238;
  color: #FFFFFF;
}
.alert-wrapper .alert-box .close-icon {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}
.alert-wrapper .alert-box .close-icon .icon path {
  fill: #BDBDBD;
}
.alert-wrapper .alert-box .alert-message {
  color: #333333;
  font-size: 1.7142857143rem;
  font-weight: 600;
  line-height: 2.0714285714rem;
}
.alert-wrapper .alert-box .alert-description {
  font-size: 0.8571428571rem;
  font-weight: 400;
  line-height: 1.0714285714rem;
  color: #BDBDBD;
  width: 11.4285714286rem;
  display: flex;
  justify-content: center;
}
.alert-wrapper .alert-box .alert-description::after {
  text-align: center;
}
.alert-wrapper .alert-icon {
  margin-top: 0.8rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.alert-wrapper .alert-icon svg {
  width: 2.8rem;
  height: auto;
  display: none;
}
.alert-wrapper .alert-icon svg path {
  fill: #FFFFFF;
}
.alert-wrapper .btn-alert {
  font-weight: 700;
  margin-top: 2.2rem;
  background-color: #FFFFFF;
  display: grid;
  place-items: center;
  width: 6.4rem;
  padding: 6px 12px;
  border-radius: 14px;
}

.color-primary {
  color: #4E5150;
}

.color-secondary {
  color: #333333;
}

.icon path {
  fill: #828282;
}

::placeholder {
  color: #828282;
}

.heading-lg {
  font-size: 1.7142857143rem;
  font-weight: 600;
  line-height: 2.0714285714rem;
}

.heading-md {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2142857143rem;
  color: #333333;
}

.name {
  font-size: 0.8571428571rem;
  font-weight: 600;
  line-height: 1.0714285714rem;
}

.price {
  font-size: 0.8571428571rem;
  font-weight: 600;
  line-height: 1.0714285714rem;
  color: #F2994A;
}

.old-price {
  font-size: 0.7142857143rem;
  font-weight: 600;
  line-height: 0.8571428571rem;
  text-decoration: line-through;
  height: fit-content;
}

.quantity {
  font-size: 1.1428571429rem;
  font-weight: 600;
  line-height: 1.4285714286rem;
  color: #333333;
}

.info {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2142857143rem;
  color: #333333;
}

.input-label {
  font-size: 0.7142857143rem;
  font-weight: 600;
  line-height: 0.8571428571rem;
  color: #4F4F4F;
}

.checkbox-label {
  font-size: 0.7142857143rem;
  font-weight: 600;
  line-height: 0.8571428571rem;
  color: #4F4F4F;
}

header {
  margin-top: 32px;
  margin-bottom: 20.96px;
}

aside {
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 87.15px;
  margin-bottom: 39px;
  padding-left: 26.87px;
  padding-right: 26.87px;
  padding-top: 30.56px;
  padding-bottom: 14px;
}
aside .articles {
  display: flex;
  flex-direction: column;
  gap: 28.48px;
}
aside .check {
  display: flex;
  flex-direction: column;
}

.articles .article {
  display: flex;
  gap: 18.47px;
}
.articles .article .article-picture {
  width: 32.7333333333vw;
  height: auto;
  border-radius: 13px;
}
.articles .article .article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles .article .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.articles .article .prices {
  display: flex;
  align-items: baseline;
}
.articles .article .prices .price {
  width: 70px;
}
.articles .article .quantity-info {
  width: 32.7466666667vw;
  height: 49.86px;
  border: 1px solid #828282;
  border-radius: 12px;
  display: flex;
  padding-left: 10.16px;
  padding-right: 10.16px;
  justify-content: space-between;
  align-items: center;
}
.articles .article .quantity-info .quantity-icon {
  background-color: #E0E0E0;
  border-radius: 4px;
  width: 19.39px;
  height: 19.39px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.articles .article .quantity-info .quantity-icon .icon {
  width: 14px;
  height: auto;
}
.articles .article .quantity-info .quantity-icon:hover {
  background-color: #F2994A;
}
.articles .article .quantity-info .quantity-icon:hover .icon path {
  fill: #FFFFFF;
}

.check .info {
  display: flex;
  justify-content: space-between;
  padding-top: 9.71px;
  padding-bottom: 9.71px;
  border-top: 1px solid #BDBDBD;
}

main {
  width: 100%;
  margin-bottom: 94.98px;
}

form {
  display: flex;
  flex-direction: column;
}
form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 11.2px;
}
form .inputs {
  display: flex;
  flex-direction: column;
  gap: 16.52px;
}

fieldset:first-child {
  margin-bottom: 45.04px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  appearance: none !important;
  background-color: #FFFFFF !important;
  color: #333333 !important;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5.23px;
}
.form-input .input-group {
  position: relative;
  width: 100%;
  height: 40.56px;
  display: flex;
  align-items: center;
}
.form-input .input-group.error input {
  border-color: #e71b0c;
  box-shadow: 0 0 8px rgba(231, 27, 12, 0.5);
}
.form-input .input-group .input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%) translateX(11.75px);
}
.form-input .input-group .input-icon .icon {
  width: 21px;
  height: 18.67px;
}
.form-input .input-group input {
  width: 100%;
  height: 100%;
  padding-left: 39.6px;
  background-color: transparent;
  border: 1px solid #828282;
  border-radius: 12px;
  font-size: 0.8571428571rem;
  font-weight: 600;
  line-height: 1.0714285714rem;
  color: #333333;
}
.form-input .input-group input:focus {
  outline: none;
  border-color: #F2994A;
}
.form-input .input-group .error-message {
  font-size: 0.8571428571rem;
  font-weight: 600;
  line-height: 1.0714285714rem;
  display: none;
  z-index: 1010;
  position: absolute;
  padding: 20px;
  background-color: #ce2610;
  color: #FFFFFF;
  width: 60%;
  min-width: 140px;
  height: 80px;
  bottom: 0;
  left: 5%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(51, 51, 51, 0.4);
  transform: translateY(130%);
}
.form-input .input-group .error-message.visible {
  display: block;
}
.form-input .input-group .error-message::after {
  content: "";
  position: absolute;
  z-index: 1011;
  top: 0;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 12px solid #ce2610;
  transform: translateY(-90%);
}

.two-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23.28px;
}

.checkbox-group {
  margin-top: 17.3px;
  display: flex;
  align-items: center;
  gap: 7.78px;
}
.checkbox-group .checkbox {
  position: relative;
  width: 16px;
  height: 15px;
  user-select: none;
  overflow: hidden;
  margin: 0;
}
.checkbox-group .checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}
.checkbox-group .checkbox .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #828282;
  border-radius: 4px;
}
.checkbox-group .checkbox .background::after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 30%;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translateX(-60%);
}
.checkbox-group .checkbox:hover input ~ .background {
  border: 1px solid #F2994A;
}
.checkbox-group .checkbox input:checked ~ .background {
  background-color: #F2994A;
  border: 1px solid white;
}
.checkbox-group .checkbox input:checked ~ .background::after {
  display: block;
}

.dropdown.open .dropdown-icon .icon {
  transform: rotate(180deg);
}
.dropdown .dropdown-icon {
  position: absolute;
  display: grid;
  place-items: center;
  right: 0;
  top: 50%;
  transform: translateY(-45%) translateX(-8.98px);
  width: 20px;
  height: 20px;
  background-color: #E0E0E0;
  border-radius: 4px;
  z-index: 1000;
  cursor: pointer;
}
.dropdown .dropdown-icon .icon {
  width: 14.92px;
  height: 14.92px;
}
.dropdown input {
  z-index: 102;
  padding-right: 25px;
}
.dropdown datalist {
  z-index: 100;
  position: absolute;
  background-color: white;
  padding: 12px 4px;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  bottom: 0;
  transform: translateY(105%);
}
.dropdown option {
  background-color: white;
  padding: 6px;
  margin-bottom: 1px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}
.dropdown option:hover, .dropdown option.focused {
  background-color: rgba(242, 153, 74, 0.15);
  color: #F2994A;
}
.dropdown option .active {
  color: #F2994A;
}

.btn-submit {
  align-self: flex-end;
  margin-top: 20.49px;
  width: 166px;
  height: 54px;
  border: none;
  border-radius: 12px;
  background-color: #F2994A;
  color: #FFFFFF;
  font-size: 1.1428571429rem;
  font-weight: 600;
  line-height: 1.4285714286rem;
}
.btn-submit:hover {
  background-color: rgba(242, 153, 74, 0.7);
}

footer {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2142857143rem;
  color: #BDBDBD;
  text-align: center;
  margin-bottom: 24px;
}
footer .author {
  text-decoration: none;
  color: #BDBDBD;
  font-weight: 700;
}
footer .author:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .heading-lg {
    font-size: 2.5714285714rem;
    font-weight: 600;
    line-height: 3.1428571429rem;
  }

  .heading-md {
    font-size: 1.2857142857rem;
    font-weight: 600;
    line-height: 1.5714285714rem;
  }

  .price {
    font-size: 1.1428571429rem;
    font-weight: 600;
    line-height: 1.4285714286rem;
  }

  .name {
    font-size: 1.1428571429rem;
    font-weight: 600;
    line-height: 1.4285714286rem;
  }

  .old-price {
    font-size: 0.8571428571rem;
    font-weight: 600;
    line-height: 1.0714285714rem;
  }

  .info {
    font-size: 1.2857142857rem;
    font-weight: 600;
    line-height: 1.5714285714rem;
  }

  .input-label {
    font-size: 0.8571428571rem;
    font-weight: 600;
    line-height: 1.0714285714rem;
  }

  .checkbox-label {
    font-size: 0.8571428571rem;
    font-weight: 600;
    line-height: 1.0714285714rem;
    color: #4F4F4F;
  }

  .alert-wrapper .alert-box {
    padding: 1.8rem;
  }
  .alert-wrapper .alert-box .alert-message {
    font-size: 2.2857142857rem;
    font-weight: 600;
    line-height: 2.8571428571rem;
  }
  .alert-wrapper .alert-box .alert-description {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2142857143rem;
    width: 13.1428571429rem;
  }
  .alert-wrapper .alert-icon {
    width: 7rem;
    height: 7rem;
  }
  .alert-wrapper .alert-icon svg {
    width: 4rem;
  }

  .articles .article .article-picture {
    width: 17.3333333333vw;
  }
  .articles .article .quantity-info {
    width: 200px;
  }

  .form-input {
    gap: 6.97px;
  }
  .form-input .input-group {
    height: 56px;
  }
  .form-input .input-group .input-icon {
    transform: translateY(-45%) translateX(14px);
  }
  .form-input .input-group .input-icon .icon {
    width: 20px;
    height: auto;
  }
  .form-input .input-group input {
    padding-left: 52px;
    font-size: 1.1428571429rem;
    font-weight: 600;
    line-height: 1.4285714286rem;
  }

  .checkbox-group {
    margin-top: 20px;
    gap: 11px;
  }
  .checkbox-group .checkbox {
    width: 21px;
    height: 21px;
  }
  .checkbox-group .checkbox .background::after {
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translateX(-60%);
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding-left: 12%;
    padding-right: 12%;
    display: grid;
    grid-template-areas: "head head" "main aside" "foot foot";
    column-gap: 112px;
  }
  .container header {
    grid-area: head;
  }
  .container main {
    grid-area: main;
  }
  .container aside {
    grid-area: aside;
    width: 26.5972222222vw;
    height: fit-content;
  }
  .container footer {
    grid-area: foot;
  }

  header {
    margin-top: 64px;
    margin-bottom: 50.94px;
  }

  aside {
    gap: 95.29px;
    margin: none;
    padding-left: 2.0638888889vw;
    padding-right: 2.0638888889vw;
    padding-top: 31.69px;
    padding-bottom: 14px;
  }
  aside .articles {
    display: flex;
    flex-direction: column;
    gap: 28.48px;
  }

  .articles .article {
    gap: 1.4027777778vw;
  }
  .articles .article .article-info {
    justify-content: space-between;
    gap: none;
  }
  .articles .article .article-picture {
    width: 9.3201388889vw;
  }
  .articles .article .quantity-info {
    width: 9.3229166667vw;
  }

  .check .info {
    padding-top: 10.73px;
    padding-bottom: 10.73px;
  }

  main {
    margin-bottom: 159px;
  }

  form fieldset {
    padding-top: 14.95px;
  }
  form .inputs {
    gap: 20.01px;
  }

  fieldset:first-child {
    margin-bottom: 58.01px;
  }

  .two-inputs {
    gap: 2.1527777778vw;
  }

  .btn-submit {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 16.6666666667vw;
    padding-right: 16.6666666667vw;
  }
}

/*# sourceMappingURL=style.css.map */
