@import "./libs/reset.scss";
@import "./libs/functions.scss";
@import "./libs/mixins.scss";

/*fonts*/
$font-primary:'Montserrat', sans-serif;
/*colors*/
$color-primary:#4E5150;
$color-secondary:#333333;
$color-tertiary: #F2994A;
$color-footer: #BDBDBD;
/*padding*/
$padding-mobile: widthInVW(12);
$padding-desktop: widthInVW(240, 1440);

html{
    font-family: $font-primary;
    color: $color-primary;
    background-color: #FFFFFF;
}
.container{
    width: 100%;
    padding: {
        left: $padding-mobile;
        right: $padding-mobile;
    };
}
.color-primary{
    color: $color-primary;
}
.color-secondary{
    color: $color-secondary;
}
.icon{
    path{
        fill: #828282;
    }
}
.heading-lg{
    @include setFontProps(24, 29, 600);
}
.heading-md{
    @include setFontProps(14, 17, 600);
    color: $color-secondary;
}
.price{
    @include setFontProps(12, 15, 600);
    color: $color-tertiary;
}
.old-price{
    @include setFontProps(10, 12, 600);
    text-decoration: line-through;
    height: fit-content;
}
.quantity{
    @include setFontProps(16, 20, 600);
    color: $color-secondary;
}

header{
    margin: {
        top: 32px;
        bottom: 20.96px;
    }
}
aside{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 87.15px;
    padding: {
        left: 26.87px;
        top: 30.56px;
        bottom: 30.56px;
    };
    .articles{
        display: flex;
        flex-direction: column;
        gap: 28.48px;
    }
    .check{
        display: flex;
        flex-direction: column;
    }
}
.articles{
    .article{
        display: flex;
        gap: 18.47px;
        .article-picture{
            width: widthInVW(122.75);
            border-radius: 13px;
        }
        .article-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .description{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .prices{
            display: flex;
            align-items: flex-end;
            .price{
                width: 70px;
            }
        }
        .quantity-info{
            width: widthInVW(122.8);
            height: 49.86px;
            border: 1px solid #828282;
            border-radius: 12px;
            display: flex;
            padding: {
                left: 10.16px;
                right: 10.16px;
            };
            justify-content: space-between;
            align-items: center;
            .quantity-icon{
                background-color: #E0E0E0;
                border-radius: 4px;
                width: 19.39px;
                height: 19.39px;
                display: grid;
                place-items: center;
                .icon{
                    width: 14px;
                    height: auto;
                }
            }
        }
    }
}
main{
    
}

footer{
    @include setFontProps(14, 17, 500);
    color: $color-footer;
    text-align: center;
    margin-bottom: 24px;
    .author{
        text-decoration: none;
        color: $color-footer;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    .container{
        padding: {
            left: $padding-desktop;
            right: $padding-desktop;
        };
    }
}