@import "./libs/reset.scss";
@import "./libs/functions.scss";
@import "./libs/mixins.scss";

/*fonts*/
$font-primary:'Montserrat', sans-serif;
/*colors*/
$color-primary:#4E5150;
$color-secondary:#333333;
$color-tertiary: #F2994A;
$color-footer: #BDBDBD;
/*padding*/
$padding-mobile: widthInVW(12);
$padding-desktop: widthInVW(240, 1440);

html{
    font-family: $font-primary;
    color: $color-primary;
    background-color: #FFFFFF;
}
body{
    position: relative;
    &.hide{
        overflow: hidden;
    }
}
.container{
    width: 100%;
    padding: {
        left: $padding-mobile;
        right: $padding-mobile;
    };
}
.alert-wrapper{
    position: fixed;
    background-color: rgba(#000000,  0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: 1500;
    &.close{
        display: none;
    }
    .alert-box{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        padding: 1rem;
        &.error{
            .alert-message{
                &::after{
                    content: "Oh no!";
                }
            }
            .alert-description{
                &::after{
                    content: "Something went wrong";
                }
            }
            .alert-icon{
                background-color: #ce2610;
            }
            .icon-error{
                display: block;
            }
            .btn-alert{
                border: 2px solid #ce2610;
                color: #ce2610;
                &::after{
                    content: "Try again";
                }
                &:hover{
                    background-color: #ce2610;
                    color: #FFFFFF;
                }
            }
        }
        &.sucess{
            .alert-message{
                &::after{
                    content: "Woohoo!";
                }
            }
            .alert-description{
                &::after{
                    content: "Everything went great";
                }
            }
            .alert-icon{
                background-color: #0ac238;
            }
            .icon-sucess{
                display: block;
            }
            .btn-alert{
                border: 2px solid #0ac238;
                color: #0ac238;
                &::after{
                    content: "Continue";
                }
                &:hover{
                    background-color: #0ac238;
                    color: #FFFFFF;
                }
            }
        }
        .close-icon{
            position: absolute;
            right: 0.4rem;
            top: 0.4rem;
            .icon{
                path{
                    fill: $color-footer;
                }
            }
        }
        .alert-message{
            color: $color-secondary;
            @include setFontProps(24, 29, 600);
        }
        .alert-description{
            @include setFontProps(12, 15, 400);
            color: $color-footer;
            width: widthInRem(160);
            display: flex;
            justify-content: center;
            &::after{
                text-align: center;
            }
        }
    }
    .alert-icon{
        margin-top: 0.8rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
        svg{
            width: 2.8rem;
            height: auto;
            display: none;
            path{
                fill:#FFFFFF;
            }
        }
    }
    .btn-alert{
        font-weight: 700;
        margin-top: 2.2rem;
        background-color: #FFFFFF;
        display: grid;
        place-items: center;
        width: 6.4rem;
        padding: 6px 12px;
        border-radius: 14px;
    }
}
.color-primary{
    color: $color-primary;
}
.color-secondary{
    color: $color-secondary;
}
.icon{
    path{
        fill: #828282;
    }
}
::placeholder{
    color: #828282;
}
.heading-lg{
    @include setFontProps(24, 29, 600);
}
.heading-md{
    @include setFontProps(14, 17, 600);
    color: $color-secondary;
}
.name{
    @include setFontProps(12, 15, 600);
}
.price{
    @include setFontProps(12, 15, 600);
    color: $color-tertiary;
}
.old-price{
    @include setFontProps(10, 12, 600);
    text-decoration: line-through;
    height: fit-content;
}
.quantity{
    @include setFontProps(16, 20, 600);
    color: $color-secondary;
}
.info{
    @include setFontProps(14, 17, 600);
    color: $color-secondary;
}
.input-label{
    @include setFontProps(10, 12, 600);
    color: #4F4F4F;
}
.checkbox-label{
    @include setFontProps(10, 12, 600);
    color: #4F4F4F;
}
header{
    margin: {
        top: 32px;
        bottom: 20.96px;
    }
}
aside{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 87.15px;
    margin-bottom: 39px;
    padding: {
        left: 26.87px;
        right: 26.87px;
        top: 30.56px;
        bottom: 14px;
    };
    .articles{
        display: flex;
        flex-direction: column;
        gap: 28.48px;
    }
    .check{
        display: flex;
        flex-direction: column;
    }
}
.articles{
    .article{
        display: flex;
        gap: 18.47px;
        .article-picture{
            width: widthInVW(122.75);
            height: auto;
            border-radius: 13px;
        }
        .article-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .description{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .prices{
            display: flex;
            align-items: baseline;
            .price{
                width: 70px;
            }
        }
        .quantity-info{
            width: widthInVW(122.8);
            height: 49.86px;
            border: 1px solid #828282;
            border-radius: 12px;
            display: flex;
            padding: {
                left: 10.16px;
                right: 10.16px;
            };
            justify-content: space-between;
            align-items: center;
            .quantity-icon{
                background-color: #E0E0E0;
                border-radius: 4px;
                width: 19.39px;
                height: 19.39px;
                display: grid;
                place-items: center;
                cursor: pointer;
                .icon{
                    width: 14px;
                    height: auto;
                }
            }
        }
    }
}
.check{
    .info{
        display: flex;
        justify-content: space-between;
        padding-top: 9.71px;
        padding-bottom: 9.71px;
        border-top: 1px solid $color-footer;
    }
}
main{
    width: 100%;
    margin-bottom: 94.98px
}
form{
    display: flex;
    flex-direction: column;
    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        padding-top: 11.2px;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 16.52px;
    }
}
fieldset:first-child{
    margin-bottom: 45.04px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    appearance: none !important;
    background-color:#FFFFFF !important;
    color: $color-secondary !important;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 5.23px;
    .input-group{
        position: relative;
        width: 100%;
        height: 40.56px;
        display: flex;
        align-items: center;
        .input-icon{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-45%) translateX(11.75px);
            .icon{
                width: 21px;
                height: 18.67px;
            }
        }
        input{
            width: 100%;
            height: 100%;
            padding-left: 39.6px;
            background-color: transparent;
            border: 1px solid #828282;
            border-radius: 12px;
            @include setFontProps(12, 15, 600);
            color: $color-secondary;
            &:focus{
                outline: none;
                border-color: $color-tertiary;
            }
            &.error{
                border-color: #e71b0c;
                box-shadow: 0 0 8px rgba(231, 27, 12, 0.5);
            }
        }
    }
}
.two-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23.28px;
}
.checkbox-group{
    margin-top: 17.3px;
    display: flex;
    align-items: center;
    gap: 7.78px;

    .checkbox{
        position: relative;
        width: 16px;
        height: 15px;
        user-select: none;
        overflow: hidden;
        margin: 0;
        input{
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            cursor: pointer;
        }
        .background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 1px solid #828282;
            border-radius: 4px;
            &::after{
                content: "";
                position: absolute;
                display: none;
                left: 50%;
                top: 30%;
                width: 5px;
                height: 7px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg) translateX(-60%);
            }
        }
        &:hover input ~ .background{
            border: 1px solid $color-tertiary;
        }
        & input:checked ~ .background{
            background-color: $color-tertiary;
            border: 1px solid white;
        }
        & input:checked ~ .background::after{
            display: block;
        }
    }
}
.dropdown{
    &.open{
        .dropdown-icon{
            .icon{
                transform: rotate(180deg);
            }
        }
    }
    .dropdown-icon{
        position: absolute;
        display: grid;
        place-items: center;
        right: 0;
        top: 50%;
        transform: translateY(-45%) translateX(-8.98px);
        width: 20px;
        height: 20px;
        background-color: #E0E0E0;
        border-radius: 4px;
        z-index: 1000;
        cursor: pointer;
        .icon{
            width: 14.92px;
            height: 14.92px;
        }
    }
    input{
        z-index: 102;
        padding-right: 25px;
    }
    datalist {
        z-index: 100;
        position: absolute;
        background-color: white;
        padding: 12px 4px;
        border: 1px solid $color-footer;
        border-radius: 12px;
        width: 100%;
        max-height: 10rem;
        overflow-y: auto;
        bottom: 0;
        transform: translateY(105%);
    } 
    option {
        background-color: white;
        padding: 6px;
        margin-bottom: 1px;
        font-size: 18px;
        border-radius: 12px;
        cursor: pointer;
        &:hover, &.focused{
            background-color: rgba($color-tertiary, 0.15);
            color: $color-tertiary;
        }
        .active{
            color: $color-tertiary;
        }
    }
}

.btn-submit{
    align-self: flex-end;
    margin-top: 20.49px;
    width: 166px;
    height: 54px;
    border: none;
    border-radius: 12px;
    background-color: $color-tertiary;
    color: #FFFFFF;
    @include setFontProps(16, 20, 600);
}
footer{
    @include setFontProps(14, 17, 500);
    color: $color-footer;
    text-align: center;
    margin-bottom: 24px;
    .author{
        text-decoration: none;
        color: $color-footer;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 768px) {
    .heading-lg{
        @include setFontProps(36, 44, 600);
    }
    .heading-md{
        @include setFontProps(18, 22, 600);
    }
    .price{
        @include setFontProps(16, 20, 600);
    }
    .name{
        @include setFontProps(16, 20, 600);
    }
    .old-price{
        @include setFontProps(12, 15, 600);
    }
    .info{
        @include setFontProps(18, 22, 600);
    }
    .input-label{
        @include setFontProps(12, 15, 600);
    }
    .checkbox-label{
        @include setFontProps(12, 15, 600);
        color: #4F4F4F;
    }
    .alert-wrapper{
        .alert-box{
            padding: 1.8rem;
            .alert-message{
                @include setFontProps(32, 40, 600);
            }
            .alert-description{
                @include setFontProps(14, 17, 600);
                width: widthInRem(184);
            }
        }
        .alert-icon{
            width: 7rem;
            height: 7rem;
            svg{
                width: 4rem;
            }
        }
    }
    .articles{
        .article{
            .article-picture{
                width: widthInVW(65);
            }
            .quantity-info{
                width: 200px;
            }
        }
    }
    .form-input{
        gap: 6.97px;
        .input-group{
            height: 56px;
            .input-icon{
                transform: translateY(-45%) translateX(14px);
                .icon{
                    width: 20px;
                    height: auto;
                }
            }
            input{
                padding-left: 52px;
                @include setFontProps(16, 20, 600);
            }
        }
    }
    .checkbox-group{
        margin-top: 20px;
        gap: 11px;
        .checkbox{
            width: 21px;
            height: 21px;
            .background{
                &::after{
                    width: 6px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg) translateX(-60%);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .container{
        padding: {
            left: 12%;
            right: 12%;
        };
        display: grid;
        grid-template-areas: 
        "head head"
        "main aside"
        "foot foot";
        column-gap: 112px;
        header{
            grid-area: head;
        }
        main{
            grid-area: main;
        }
        aside{
            grid-area: aside;
            width: widthInVW(383, 1440);
            height: fit-content;
        }
        footer{
            grid-area: foot;
        }
    }
    header{
        margin: {
            top: 64px;
            bottom: 50.94px;
        };
    }
    aside{
        gap: 95.29px;
        margin: none;
        padding: {
            left: widthInVW(29.72, 1440);
            right: widthInVW(29.72, 1440);
            top: 31.69px;
            bottom: 14px;
        };
        .articles{
            display: flex;
            flex-direction: column;
            gap: 28.48px;
        }
    }
    .articles{
        .article{
            gap: widthInVW(20.2, 1440);
            .article-info{
                justify-content: space-between;
                gap: none;
            }
            .article-picture{
                width: widthInVW(134.21, 1440);
            }
            .quantity-info{
                width: widthInVW(134.25, 1440);
            }
        }        
    }
    .check{
        .info{
            padding-top: 10.73px;
            padding-bottom: 10.73px;
        }
    }
    main{
        margin-bottom: 159px;
    }
    form{
        fieldset{
            padding-top: 14.95px;
        }
        .inputs{
            gap: 20.01px;
        }
    }
    fieldset:first-child{
        margin-bottom: 58.01px;
    }
    .two-inputs{
        gap: widthInVW(31, 1440);
    }
    .btn-submit{
        margin-top: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .container{
        padding: {
            left: $padding-desktop;
            right: $padding-desktop;
        };
    }
}